@using CoralCivet_Technology_Ecommerce_Website.Models.CustomModels
@model ProductDetail
@using CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<hr />
<div class="row align-flex-start">
    <div class="col-55 ">
        <div class="row ">
            <img src="~/Content/Image/test2.png" alt="product.img" />
        </div>
    </div>

    <div class="col-40 product-detail ">
        <div class="row">
            <h2 class="col-1 ">
                @Model.products.Brand.name @Model.products.name
                <br />
            </h2>

            <div class="col-2">
                <p>ID: <b>@Model.products.ID</b></p>
            </div>
            <div class="col-2 ">
                <p>
                    Status: @if (Model.products.ID == 0)
                    {
                        <b>Stop selling</b>
                    }
                    else
                    {
                        <b>Active</b>
                    }
                </p>
            </div>

            <div class="col-1">
                <h2 style="color: #FA7268;">Price: @Model.products.price </h2>
                <hr />
            </div>

            <div class="col-1 product-description">
                <p>
                    @Model.products.detail
                </p>
                <hr />
            </div>

            <div class="col-1 ">
                <h2>Qty</h2>
                <div class="row product-detail-button border-debug">
                    <a class="col-55" style="min-width:auto" href="#">Add to cart</a>

                    <a class="col-25" style="min-width:auto" href="#">Like</a>

                    <a class="col-95" href="@Url.Action("IndexAProduct","Order", new ordersdetail{productid = Model.products.ID })">BUY NOW</a>
                </div>
                <hr />
            </div>

            <div class="col-1">
                <a>PRODUCT INFOMATION </a>
                <hr />
                <a>RETURN POLICY</a>
                <hr />
                <a>WARRANTY</a>
                <hr />
            </div>

        </div>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="col-1">ORTHER PRODUCTS</h2>
    @foreach (CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet.Product item in Model.orderProducts)
    {
        <div class="col-5 index-item">
            @Html.Partial("_ProductPartial", item)
        </div>
    }
</div>

