
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row align-flex-start">
    <div class="col-55 border-debug">
        <div class="row ">
            <img src="~/Content/Image/test2.png" alt="product.img" />
        </div>
    </div>

    <div class="col-40 product-detail border-debug ">
        <div class="row">
            <h2 class="col-1 border-debug">
                Product Name
                <br />
            </h2>
            
            <div class="col-2">
                <p>ID: <b>product id</b></p>
            </div>
            <div class="col-2 border-debug">
                <p>Status: <b>product status</b></p>
            </div>

            <div class="col-1">
                <h2 style="color: #FA7268;">Price:</h2>
                <hr/>
            </div>

            <div class="col-1 product-description">
                <p>
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                    this is description -
                </p>
                <hr />
            </div>
            
            <div class="col-1">
                <h2>Qty</h2>
                <a>Add to cart</a>
                <a>Like</a>
                <br />
                <a>BUY NOW</a>
                <hr />
            </div>

            <div class="col-1">
                <a>PRODUCT INFOMATION </a>
                <hr />
                <a>RETURN POLICY</a>
                <hr />
                <a>WARRANTY</a>
                <hr />
            </div>

        </div>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="col-1">ORTHER PRODUCTS</h2>
    <div class="col-5 index-item product">
        <img src="~/Content/Image/test2.png" class="img-responsive center-block" alt="clock.img" />
        <a href="@Url.Action("Detail","Product")"><b>keychron k3 v2</b></a>
        <p class="product-color">black</p>
        <hr />
        <h3><b>200.000 VND</b></h3>
    </div>
    <div class="col-5 index-item product">
        <img src="~/Content/Image/test2.png" class="img-responsive center-block" alt="clock.img" />
        <a href="@Url.Action("Detail","Product")"><b>keychron k3 v2</b></a>
        <p class="product-color">black</p>
        <hr />
        <h3><b>200.000 VND</b></h3>
    </div>
    <div class="col-5 index-item product">
        <img src="~/Content/Image/test2.png" class="img-responsive center-block" alt="clock.img" />
        <a href="@Url.Action("Detail","Product")"><b>keychron k3 v2</b></a>
        <p class="product-color">black</p>
        <hr />
        <h3><b>200.000 VND</b></h3>
    </div>
    <div class="col-5 index-item product">
        <img src="~/Content/Image/test2.png" class="img-responsive center-block" alt="clock.img" />
        <a href="@Url.Action("Detail","Product")"><b>keychron k3 v2</b></a>
        <p class="product-color">black</p>
        <hr />
        <h3><b>200.000 VND</b></h3>
    </div>
    <div class="col-5 index-item product">
        <img src="~/Content/Image/test2.png" class="img-responsive center-block" alt="clock.img" />
        <a href="@Url.Action("Detail","Product")"><b>keychron k3 v2</b></a>
        <p class="product-color">black</p>
        <hr />
        <h3><b>200.000 VND</b></h3>
    </div>
</div>

