
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row align-flex-start">
    <div class="col-55 border-debug">
        <div class="row ">
            <img src="~/Content/Image/test2.png" alt="product.img" />
        </div>
    </div>

    <div class="col-40 product-detail border-debug ">
        <div class="row">
            <h2 class="col-1 border-debug">
                @ViewBag.ProductDetail.Brand.name @ViewBag.ProductDetail.name
                <br />
            </h2>
            
            <div class="col-2">
                <p>ID: <b>@ViewBag.ProductDetail.ID</b></p>
            </div>
            <div class="col-2 border-debug">
                <p>Status: @if (@ViewBag.ProductDetail.status == 0)
                {
                   <b>Stop selling</b>
                }
                else
                {
                    <b>Active</b>
                }</p>
            </div>

            <div class="col-1">
                <h2 style="color: #FA7268;">Price: @ViewBag.ProductDetail.price </h2>
                <hr/>
            </div>

            <div class="col-1 product-description">
                <p>
                    @ViewBag.ProductDetail.detail
                </p>
                <hr />
            </div>
            
            <div class="col-1">
                <h2>Qty</h2>
                <a>Add to cart</a>
                <a>Like</a>
                <br />
                <a>BUY NOW</a>
                <hr />
            </div>

            <div class="col-1">
                <a>PRODUCT INFOMATION </a>
                <hr />
                <a>RETURN POLICY</a>
                <hr />
                <a>WARRANTY</a>
                <hr />
            </div>

        </div>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="col-1">ORTHER PRODUCTS</h2>
    @foreach (CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet.Product item in ViewBag.Products)
    {
        <div class="col-5 index-item">
            @Html.Partial("_ProductPartial", item)
        </div>
    }
</div>

