<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="nav-container">
        <div class="small-navbar">
            <a class="">CoralCivet</a>
            @*@Html.Partial("_LoginPartial")*@
        </div>
        <div class="nor-navbar">
            <div class="logo">
                <img src="~/Content/Image/logo.svg" alt="logo.svg" />
            </div>
            <nav>
                <ul id="MenuItems">
                    <li class="dropdown"><a href=""><b>PRODUCT</b></a><span class="caret"></span></li>

                    <li class="dropdown"><a href=""><b>BRAND</b></a><span class="caret"></span></li>

                    <li class="dropdown"><a href=""><b>NEW</b></a><span class="caret"></span></li>
                </ul>
            </nav>
            <div class="find">
                <img src="~/Content/Image/find.svg" width="30" />
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
