@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
            <div class="small-navbar-account">
                <a href="@Url.Action("Index", "Manage",new { title = "Manage" })">Hello @User.Identity.GetUserName()!</a>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
    }
}
else
{
        <div class="small-navbar-account">
            <a href="@Url.Action("Register", "Account", new { id = "registerLink" })">Register</a>
            <a href="@Html.ActionLink("Login", "Account",new { id = "loginLink" })">Log in</a>
        </div>

}
