@using CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet;
@using PagedList.Mvc;
@model PagedList.IPagedList<post>
@{
    CoralCivetContext db = new CoralCivetContext();
    var i = 1;
    ViewBag.Title = "Quản lý bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">
                <h4>@ViewBag.Title</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow text-dark">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="basic-table.html">@ViewBag.Title</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-3">
                <b>Từ khóa</b>
                <input class="form-control" type="search" value="" id="" placeholder="Mã bài viết, tên bài viết, loại bài viết,...">
            </div>
            <div class="col-lg-3">
                <b>Ngày bắt đầu</b>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon bg-primary">
                        <span class="icofont icofont-ui-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <b>Ngày kết thúc</b>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon bg-primary">
                        <span class="icofont icofont-ui-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <b>Sắp xếp</b>
                <select class="form-control">
                    <option value="">Mặc định mới nhất</option>
                    <option>Cũ nhất</option>
                    <option>Theo tên</option>
                </select>
            </div>
            <div class="col-lg-12">
                Hiện tại có <b>@ViewBag.Count</b> bài viết
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#addPost">
                    <i class="fas fa-plus-circle">&nbsp;</i> THÊM bài viết
                </button>
            </div>
            <br />
            <br />
            <div class="col-sm-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ẢNH BÀI VIẾT</th>
                            <th>Mã BÀI VIẾT</th>
                            <th>TÊN BÀI VIẾT</th>
                            <th>LOẠI BÀI VIẾT</th>
                            <th>TÌNH TRẠNG</th>
                            <th>NGÀY CẬP NHẬT</th>
                            <th>TÙY CHỌN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>
                                    <img src="@item.img" style="width: 100px; height: 100px" />
                                </td>
                                <td>@item.metakey</td>
                                <td>@item.title</td>
                                <td>@item.topic.name</td>
                                <td>
                                    <div class="label-main">
                                        @if (item.status == 1)
                                        {
                                            <label class="label bg-success">Đang hoạt động</label>
                                        }
                                        else
                                        {
                                            <label class="label bg-danger">Không hoạt động</label>
                                        }
                                    </div>
                                </td>
                                <td>@item.updated_at</td>
                                <td>
                                    <a data-toggle="modal" data-target="#editPost-@item.Id"><i class="fa fa-edit">&nbsp;</i>Sửa</a> |
                                    <a data-toggle="modal" data-target="#deletePost-@item.Id"><i class="fa fa-trash">&nbsp;</i>Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="float: right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
            <!--Thêm bài viết-->
            <div class="modal fade" id="addPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 1060px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm bài viết</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="@Url.Action("Create","Post")" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*@Html.DropDownList("ImageList")*@
                                    <select name="ImageList" id="ImageList" class="form-control">
                                        @foreach (var image in ViewBag.ImageList)
                                        {
                                            <option value="@image.Value">@image.Text</option>
                                        }
                                    </select>
                                    <img alt="image" id="image" style="width:200px;height:200px;" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Mã bài viết</label>
                                    <input type="text" class="form-control" name="metakey" placeholder="Vui lòng nhập mã bài viết" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tên bài viết</label>
                                    <input type="text" class="form-control" name="title" placeholder="Vui lòng nhập tên bài viết" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Link</label>
                                    <input type="text" class="form-control" name="slug" placeholder="Vui lòng nhập tên bài viết" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Loại bài viết</label>
                                    <select class="form-control" name="topid">
                                        @foreach (var item in db.topics.Where(x => x.status == 1).OrderByDescending(n => n.name))
                                        {
                                            <option value="@item.Id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Mô tả ngắn</label>
                                    <textarea class="form-control" name="descriptionShort" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Mô tả</label>
                                    <textarea class="form-control" name="metadesc" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Nội dung</label>
                                    <textarea class="form-control" name="detail" id="editorAdd" rows="4"></textarea>
                                </div>
                                <script>
                                    ClassicEditor
                                        .create(document.querySelector('#editorAdd'))
                                        .catch(error => {
                                            console.error(error);
                                        });
                                </script>
                                <fieldset class="form-group">
                                    <label class="form-control-label">Tình trạng</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="Active" valu="true" checked>
                                            Hoạt động
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="Active" value="false">
                                            Không hoạt động
                                        </label>
                                    </div>
                                </fieldset>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle">&nbsp;</i> Đóng</button>
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save">&nbsp;</i> Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <!--Sửa bài viết-->
                <div class="modal fade" id="editPost-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 1060px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sửa bài viết - Làm sao để có chiếc máy tính đẹp?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="@Url.Action("Edit","Post")" method="post" enctype="multipart/form-data">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <input type="hidden" name="ID" value="@item.Id" />
                                    <input type="hidden" name="img" value="@item.img" />
                                    <input type="hidden" name="created_at" value="@item.created_at" />
                                    <div class="form-group">
                                        @*@Html.DropDownList("ImageList")*@
                                        <select name="ImageList" id="ImageList-@item.Id" class="form-control">
                                            @foreach (var image in ViewBag.ImageList)
                                            {
                                                <option value="@image.Value" @(item.img == image.Value ? "selected" : "")>@image.Text</option>
                                            }
                                        </select>
                                        <img alt="image" id="image-@item.Id" style="width:200px;height:200px;" />
                                    </div>
                                    <script type="text/javascript">
                            $(document).ready(function () {
                                $("#ImageList-@item.Id").change(function () {
                                    var imagePath = $("#ImageList-@item.Id").val();
                                    $("#image-@item.Id").attr('src', imagePath)
                                });
                                $("#ImageList-@item.Id").trigger('change');
                            });
                                    </script>
                                    <div class="form-group">
                                        <label class="form-control-label">Mã bài viết</label>
                                        <input type="text" value="@item.metakey" class="form-control" name="metakey" placeholder="Vui lòng nhập mã bài viết" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Tên bài viết</label>
                                        <input type="text" value="@item.title" class="form-control" name="title" placeholder="Vui lòng nhập tên bài viết" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Link</label>
                                        <input type="text" value="@item.slug" class="form-control" name="slug" placeholder="Vui lòng nhập tên bài viết" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Loại bài viết</label>
                                        <select class="form-control" name="topid">
                                            @foreach (var topic in db.topics.Where(x => x.status == 1).OrderByDescending(n => n.name))
                                            {
                                                <option value="@topic.Id" @(item.topId == topic.Id ? "selected" : "")>@topic.name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Mô tả ngắn</label>
                                        <textarea class="form-control" name="descriptionShort" rows="4">@item.descriptionShort</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Mô tả</label>
                                        <textarea class="form-control" name="metadesc" rows="4">@item.metadesc</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Nội dung</label>
                                        <textarea class="form-control" name="detail" id="editorEdit-@item.Id" rows="4">@item.detail</textarea>
                                    </div>
                                    <script>
                                        ClassicEditor
                                            .create(document.querySelector('#editorEdit-@item.Id'))
                                            .catch(error => {
                                                console.error(error);
                                            });
                                    </script>
                                    <fieldset class="form-group">
                                        <label class="form-control-label">Tình trạng</label>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="status" value="1" @(item.status == 1 ? "checked" : "")>
                                                Hoạt động
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="status" valuee="0" @(item.status != 1 ? "checked" : "")>
                                                Không hoạt động
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle">&nbsp;</i> Đóng</button>
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-save">&nbsp;</i> Lưu</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Xóa bài viết-->
                <div class="modal fade" id="deletePost-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xóa bài viết - @item.title?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc muốn xóa bài viết này??
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times">&nbsp;</i> Đóng</button>
                                <button type="button" onclick="window.location.href = '/Admin/Post/Delete?id=@item.Id'" class="btn btn-danger"><i class="fa fa-trash">&nbsp;</i> Chắc chắn</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<style>
    .ck.ck-editor__editable_inline > :first-child {
        margin-top: var(--ck-spacing-large);
        height: 300px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ImageList").change(function () {
            var imagePath = $("#ImageList").val();
            $("#image").attr('src', imagePath)
        });
        $("#ImageList").trigger('change');
    });
</script>