@model CoralCivet_Technology_Ecommerce_Website.Models.CustomModels.HomeIndex
@{
    ViewBag.Title = "CoralCivet";
    <script src="~/Scripts/userIndex.js"></script>
}
<div>
    @Html.Partial("_SliderPartial", Model.sliders)
</div>


<div class="index-category">
    <h1 class="col-1"><b>CATEGORIES</b></h1>
    <div class="row">
        @foreach (var item in Model.types)
        {
        <div class="col-3 index-item category-item animation-1">
            <a href="@Url.Action("Index","Product",new { id = item.Id })">
                @if (@item.name == "Keyboard")
                {
                    <img src="~/Content/Image/Category/Keyboard.jpg" class="img-responsive center-block" alt="Keybroad.img" />
                }
                else if (@item.name == "Mouse")
                {
                    <img src="~/Content/Image/Category/Mouse.jpg" class="img-responsive center-block" alt="Keybroad.img" />
                }
                else
                {
                    <img src="~/Content/Image/Category/Other.jpg" class="img-responsive center-block" alt="Keybroad.img" />
                }

            </a>
            <h3><b>@item.name</b></h3>
        </div>
        }
    </div>
    <br />
    <br />
    <hr />
</div>


<div class="index-bestSeller">
    <h1 class="col-5 text-center"><b>BEST SELLER</b></h1>
    <div class="row">
        @foreach (var item in Model.products)
        {
            <div class="col-4 index-item">
                @Html.Partial("_ProductPartial", item)
            </div>
        }
    </div>
    <br />
    <br />
    <hr />
</div>

<div class="index-news">
    <h1 class="col-1 text-center"><b>NEWS</b></h1>
    <div class="row">
        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="Keybroad.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="mouse.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="clock.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>
    </div>
    <br />
    <br />
</div>


<script src="~/Scripts/userIndex.js"></script>