@using CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet;
@using PagedList.Mvc;
@model PagedList.IPagedList<order>
@{
    var i = 1;
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">
                <h4>@ViewBag.Title</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow text-dark">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="basic-table.html">@ViewBag.Title</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-3">
                <b>Từ khóa</b>
                <input class="form-control" type="search" value="" id="" placeholder="Mã đơn hàng, tên đơn hàng, loại đơn hàng,...">
            </div>
            <div class="col-lg-3">
                <b>Ngày bắt đầu</b>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon bg-primary">
                        <span class="icofont icofont-ui-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <b>Ngày kết thúc</b>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon bg-primary">
                        <span class="icofont icofont-ui-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <b>Sắp xếp</b>
                <select class="form-control">
                    <option value="">Mặc định mới nhất</option>
                    <option>Cũ nhất</option>
                    <option>Theo tên</option>
                </select>
            </div>
            <div class="col-lg-12">
                Hiện tại có <b>@ViewBag.Count</b> đơn hàng
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <br />
            <br />
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>MÃ ĐƠN HÀNG</th>
                            <th>TÊN ĐƠN HÀNG</th>
                            <th>CÁC ĐƠN HÀNG MUA</th>
                            <th>SỐ LƯỢNG</th>
                            <th>ĐƠN GIÁ</th>
                            <th>TỔNG TIỀN</th>
                            <th>TRẠNG THÁI</th>
                            <th>NGÀY CẬP NHẬT</th>
                            <th>TÙY CHỌN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var col = item.ordersdetails.Count() > 1 ? ("rowspan = " + item.ordersdetails.Count()) : ("");
                            <tr>
                                <td @col>@i</td>
                                <td @col>@item.code</td>
                                <td @col>@item.deliveryname</td>
                                <td>
                                    @item.ordersdetails.ToArray()[0].Product.name
                                </td>
                                <td>
                                    @item.ordersdetails.ToArray()[0].quantity
                                </td>
                                <td>
                                    @item.ordersdetails.ToArray()[0].amount
                                </td>
                                <td @col>@item.totalSum VNĐ</td>
                                <td @col>
                                    @if (item.status == 0)
                                    {
                                        <div class="label-main">
                                            <label class="label bg-danger">Chưa giao hàng</label>
                                        </div>
                                    }
                                    else if (item.status == 1)
                                    {
                                        <div class="label-main">
                                            <label class="label bg-success">Đã giao hàng</label>
                                        </div>
                                    }
                                </td>
                                <td @col>@item.update_at</td>
                                <td @col>
                                    @if (item.status == 0)
                                    {
                                        <a data-toggle="modal" onclick="window.location.href = '/Admin/Order/ChangeStatus?id=@item.Id'" class="text-danger"><i class="fa fa-close">&nbsp;</i>Tình trạng</a>
                                    }
                                    else if (item.status == 1)
                                    {
                                        <a data-toggle="modal" onclick="window.location.href = '/Admin/Order/ChangeStatus?id=@item.Id'" class="text-success"><i class="fa fa-check-circle">&nbsp;</i>Tình trạng</a>
                                    }
                                    <a data-toggle="modal" class="text-danger" data-target="#deleteOrder-@item.Id"><i class="fa fa-trash">&nbsp;</i>Xóa</a>
                                </td>
                            </tr>
                            i++;
                            for (int index = 1; index < item.ordersdetails.Count; index++)
                            {
                                <tr>
                                    <td>
                                        @item.ordersdetails.ToArray()[index].Product.name
                                    </td>
                                    <td>
                                        @item.ordersdetails.ToArray()[index].quantity
                                    </td>
                                    <td>
                                        @item.ordersdetails.ToArray()[index].amount
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="float: right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>

            @foreach (var item in Model)
            {
                <!--Xóa đơn hàng-->
                <div class="modal fade" id="deleteOrder-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xóa đơn hàng - Bàn phím đẹp và chất lượng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc muốn xóa đơn hàng này??
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times">&nbsp;</i> Đóng</button>
                                <button type="button" onclick="window.location.href = '/Admin/Order/Delete?id=@item.Id'" class="btn btn-danger"><i class="fa fa-trash">&nbsp;</i> Chắc chắn</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

