@using CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet;
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>
@{
    CoralCivetContext db = new CoralCivetContext();
    var i = 1;
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">
                <h4>@ViewBag.Title</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow text-dark">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="basic-table.html">@ViewBag.Title</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-3">
                <b>Từ khóa</b>
                <input class="form-control" type="search" value="" id="" placeholder="Mã sản phẩm, tên sản phẩm, loại sản phẩm,...">
            </div>
            <div class="col-lg-3">
                <b>Ngày bắt đầu</b>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon bg-primary">
                        <span class="icofont icofont-ui-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <b>Ngày kết thúc</b>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon bg-primary">
                        <span class="icofont icofont-ui-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <b>Sắp xếp</b>
                <select class="form-control">
                    <option value="">Mặc định mới nhất</option>
                    <option>Cũ nhất</option>
                    <option>Theo tên</option>
                </select>
            </div>
            <div class="col-lg-12">
                Hiện tại có <b>@ViewBag.Count</b> sản phẩm
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#addProduct">
                    <i class="fas fa-plus-circle">&nbsp;</i> THÊM SẢN PHẨM
                </button>
            </div>
            <br />
            <br />
            <div class="col-sm-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ẢNH SẢN PHẨM</th>
                            <th>TÊN SẢN PHẨM</th>
                            <th>LOẠI SẢN PHẨM</th>
                            <th>GIÁ SẢN PHẨM</th>
                            <th>GIÁ KHUYẾN MÃI</th>
                            <th>NGÀY CẬP NHẬT</th>
                            <th>TÌNH TRẠNG</th>
                            <th>TÙY CHỌN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>
                                <img src="~/Images/Product/@item.ProductImgs.ToArray()[0].name" style="width: 100px; height: 100px" />
                            </td>
                            <td>@item.name</td>
                            <td>None</td>
                            <td>@item.price.ToString("#,###") vnđ</td>
                            @if (item.pricesale == null || item.pricesale == 0)
                            {
                                <td>Không có</td>
                            }
                            else
                            {
                                <td>@item.pricesale vnđ</td>
                            }
                            <td>@item.created_at</td>
                            <td>
                                <div class="label-main">
                                    @if (item.status == 1)
                                    {
                                        <label class="label bg-success">Đang hoạt động</label>
                                    }
                                    else
                                    {
                                        <label class="label bg-danger">Không hoạt động</label>
                                    }
                                </div>
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#editProduct-@item.ID"><i class="fa fa-edit">&nbsp;</i>Sửa</a> |
                                <a data-toggle="modal" data-target="#deleteProduct-@item.ID"><i class="fa fa-trash">&nbsp;</i>Xóa</a>
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="float: right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
            <!--Thêm sản phẩm-->
            <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 1060px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="@Url.Action("Create", "Product")" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="form-control-label">Hình ảnh</label>
                                    <input type="file" class="form-control" name="imgUpload" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tên sản phẩm</label>
                                    <input type="text" class="form-control" name="name" placeholder="Vui lòng nhập tên sản phẩm" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Loại sản phẩm</label>
                                    <select class="form-control" name="catId" required>
                                        @foreach (var item in db.Types.Where(x => x.parentId == null || x.parentId == 0).OrderByDescending(n => n.name))
                                        {
                                            <option value="@item.Id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Thương hiệu</label>
                                    <select class="form-control" name="brandId" required>
                                        @foreach (var item in db.Brands.OrderByDescending(n => n.name))
                                        {
                                            <option value="@item.Id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Thuộc tính</label>
                                    <select class="ui fluid multiple search selection dropdown" name="typeID" required>
                                        <option value="">Chọn thuộc tính</option>
                                        @foreach (var item in db.Types.Where(x => x.parentId != null && x.parentId != 0).OrderByDescending(n => n.name))
                                        {
                                            <option value="@item.Id">@item.name</option>
                                        }
                                    </select>
                                    <script>
                                        $('.ui.dropdown')
                                            .dropdown()
                                            ;
                                    </script>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Giá tiền</label>
                                    <input name="price" type="number" class="form-control" placeholder="Vui lòng nhập giá tiền" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Giá khuyến mãi</label>
                                    <input name="pricesale" type="number" class="form-control" placeholder="Vui lòng nhập giá tiền">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Mô tả chỉ tiết</label>
                                    <textarea class="form-control" name="detail" rows="4"></textarea>
                                </div>
                                <fieldset class="form-group">
                                    <label class="form-control-label">Tình trạng</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="status" value="1" checked>
                                            Hoạt động
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="status" valuee="0">
                                            Không hoạt động
                                        </label>
                                    </div>
                                </fieldset>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle">&nbsp;</i> Đóng</button>
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save">&nbsp;</i> Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    <!--Sửa sản phẩm-->
    <div class="modal fade" id="editProduct-@item.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 1060px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa sản phẩm - @item.name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("Edit","Product")" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" value="@item.ID" name="ID" />
                        <input type="hidden" value="@item.created_at" name="created_at" />
                        <div class="form-group">
                            <label class="form-control-label">Hình ảnh</label>
                            <input type="file" class="form-control" name="imgUpload">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" value="@item.name" name="name" placeholder="Vui lòng nhập tên sản phẩm" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Loại sản phẩm</label>
                            <select class="form-control" name="catId" required>
                                <option value="">Không có</option>
                                @foreach (var cate in db.Types.Where(x => x.parentId == null || x.parentId == 0).OrderByDescending(n => n.name))
                                {
                                    <option value="@cate.Id" @(item.catId == cate.Id ? "selected" : "")>@cate.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Thương hiệu</label>
                            <select class="form-control" name="brandId" required>
                                @foreach (var brand in db.Brands.OrderByDescending(n => n.name))
                                {
                                    <option value="@brand.Id" @(item.brandId == brand.Id ? "selected" : "")>@brand.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Thuộc tính</label>
                            <select class="ui fluid search dropdown" name="typeID" required multiple>
                                <option value="">Chọn thuộc tính</option>
                                @foreach (var type in db.Types.Where(x => x.parentId != null && x.parentId != 0).OrderByDescending(n => n.name))
                                {
                                    <option value="@type.Id" @(item.TypeDetails.Select(x => (int)x.TypeId).Where(x => x == type.Id).Any() ? "selected" : "")>@type.name</option>
                                }
                            </select>
                            <script>
                                $('.ui.dropdown')
                                    .dropdown()
                                    ;
                            </script>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Giá tiền</label>
                            <input name="price" type="number" value="@item.price" class="form-control" placeholder="Vui lòng nhập giá tiền" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Giá khuyến mãi</label>
                            <input name="pricesale" type="number" value="@item.pricesale" class="form-control" placeholder="Vui lòng nhập giá tiền">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Mô tả chỉ tiết</label>
                            <textarea class="form-control" name="detail" rows="4">@item.detail</textarea>
                        </div>
                        <fieldset class="form-group">
                            <label class="form-control-label">Tình trạng</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="status" value="1" @(item.status == 1 ? "checked" : "")>
                                    Hoạt động
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="status" valuee="0" @(item.status != 1 ? "checked" : "")>
                                    Không hoạt động
                                </label>
                            </div>
                        </fieldset>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle">&nbsp;</i> Đóng</button>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save">&nbsp;</i> Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Xóa sản phẩm-->
    <div class="modal fade" id="deleteProduct-@item.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm - @item.name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xóa sản phẩm này??
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times">&nbsp;</i> Đóng</button>
                    <button type="button" onclick="window.location.href = '/Admin/Product/Delete?id=@item.ID'" class="btn btn-danger"><i class="fa fa-trash">&nbsp;</i> Chắc chắn</button>
                </div>
            </div>
        </div>
    </div>
}

